# .NET build folders
bin/
obj/

# Rider IDE
.idea/
*.sln.DotSettings.user

# User-specific files
*.user
*.userosscache
*.suo
*.sdf
*.cache
*.log

# NuGet
*.nupkg
packages/
*.snupkg

# ASP.NET
wwwroot/lib/
*.db